<h1>Enter Your Gif Title</h1>

<%= form_for @gif do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :image_path %>
  <%= f.text_field :image_path %>

  <%= f.submit "Generate Gif" %>
<% end %>
